@import '../scss/variables';

.orders_item {
    background: $background;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin: 5px 2px 10px 2px;
    transition: 0.2s;
    cursor: pointer;
    &:hover {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      background-color: $third-color;
    }

    .orders_item_info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      cursor: pointer;
      font-size: 14px;
      h4 {
        margin-top: 5px;
      }
      p {
        font-family: 'Roboto';
      }
      .hidden {
        p {
          display: none;
        }
        h4 {
          margin: 0;
        }
      }
    }
  }