
@import './variables';

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateX(100%);
    transform-origin: 0% 50%;
  }
  1% {
    transform: translateX(0);
    transform-origin: 50% 50%;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    transform-origin: 50% 50%;
  }
}

@keyframes slide-in-blurred-right {
  0% {
    transform: translateX(500px);
    transform-origin: 0% 50%;
    filter: blur(5px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes slide-in-blurred-left {
  0% {
    transform: translateX(-500px);
    transform-origin: 0% 50%;
    filter: blur(5px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes slide-down {
  0% {
    transform-origin: top;
    transform: scaleY(0.01);
    opacity: 0.01;
  }
  100% {
    transform-origin: top;
    transform: scaleY(1);
    opacity: 1;
  }
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  font-family: 'Montserrat', 'Roboto', system-ui, Tahoma, sans-serif;
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  transition: 0.5s ease;
}

a {
  text-decoration: none;
}

button {
  background: 0;
  border: 0;
  margin: 0;
  padding: 0;
}

@mixin noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.mainshell {
  width: 60vw;
  height: 100%;
  background-color: $secondary-color;
  margin-left: 20vw;
  margin-top: 20px;
  margin-bottom: 40px;
  border-radius: 25px;
  transition: 0.5s ease;
  @media (max-width: 1200px) {
    width: 90vw;
    margin-left: 5vw;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.mainshell-dark {
  width: 60vw;
  height: 100%;
  background-color: $secondary-color-dark;
  margin-left: 20vw;
  margin-top: 20px;
  margin-bottom: 40px;
  border-radius: 25px;
  transition: 0.5s ease;
  @media (max-width: 1200px) {
    width: 90vw;
    margin-left: 5vw;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.mainshell.dark {
  background-color: $secondary-color-dark;
}

.not-found-screen {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20%;
  h1 {
    margin: 20px 0 30px 0;
  }
  img {
    margin-left: auto;
    margin-right: auto;
    width: 96px;
    height: 96px;
  }
  .button-to-main {
    background-color: $maincolor;
    transition: 0.2s;
    padding: 4px 15px;
    margin: auto;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    &:hover {
      transform: scale(1.07);
    }
    p {
      color: white;
      font-size: 16px;
    }
  }
}

.topbar-shell {
  display: flex;
  flex-direction: column;

  .search-block {
    background: $background;
    color: white;
    border: 1px solid $maincolor;
    padding: 5px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s ease;
    &:hover {
      box-shadow: 0px 0px 8px rgba(46, 161, 23, 0.5);
    }

    .search-field {
      background: rgba(0, 0, 0, 0);
      border: 0;
      color: $black;
      font-size: 16px;
      font-family: 'Roboto';
      margin-left: 5px;
      width: 200px;
      @media (max-width: 1375px) {
        width: 150px;
      }
      @media (max-width: 1295px) {
        width: 200px;
      }
      @media (max-width: 920px) {
        width: 100%;
      }
    }

    .search-button {
      margin-right: 2px;
      margin-left: 3px;
    }
    .clear-search {
      transition: 0.5s;
      &:hover {
        transform: scale(1.2);
      }
      cursor: pointer;
    }
  }
  .search-block-dark {
    background: $background-dark;
    color: white;
    border: 1px solid $maincolor;
    padding: 5px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s ease;
    &:hover {
      box-shadow: 0px 0px 8px rgba(46, 161, 23, 0.5);
    }

    .search-field {
      background: rgba(0, 0, 0, 0);
      border: 0;
      color: white;
      font-size: 16px;
      font-family: 'Roboto';
      margin-left: 5px;
      width: 200px;
      @media (max-width: 920px) {
        width: 100%;
      }
    }

    .search-button {
      margin-right: 2px;
      margin-left: 3px;
    }
    .clear-search {
      transition: 0.5s;
      &:hover {
        transform: scale(1.2);
      }
      cursor: pointer;
    }
  }

  .search-topbar {
    display: flex;
    @media (max-width: 1250px) {
      display: none;
    }
  }

  .search-under-topbar {
    display: none;
    margin: 0px 15px 0px 20px;
    @media (max-width: 1250px) {
      display: flex;
    }
  }
}

.topbar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  .logo-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    font-size: 30px;
    font-family: 'Montserrat';
    cursor: pointer;
    transition: 0.5s ease;
    img {
      transition: 0.5s ease;
      @media (max-width: 710px) {
        width: 50px;
        height: 50px;
      }
      @media (max-width: 540px) {
        width: 35px;
        height: 35px;
      }
    }
    .logo-text {
      transition: 0.5s;
      p {
        display: flex;
        justify-content: flex-start;
        font-size: 18px;
        margin: 0;
        color: black;
        transition: 0.5s ease;
        @media (max-width: 1450px) {
          font-size: 14px;
        }
        @media (max-width: 1170px) {
          font-size: 18px;
        }
        @media (max-width: 710px) {
          font-size: 14px;
        }
        @media (max-width: 540px) {
          font-size: 10px;
        }
        @media (max-width: 430px) {
          display: none;
        }
      }
      .dark {
        color: white;
        transition: 0.5s ease;
      }
      h3 {
        color: $maincolor;
        margin: 0;
        transition: 0.5s ease;
        @media (max-width: 1450px) {
          font-size: 20px;
        }
        @media (max-width: 1170px) {
          font-size: 35px;
        }
        @media (max-width: 710px) {
          font-size: 20px;
        }
        @media (max-width: 540px) {
          font-size: 14px;
        }
        @media (max-width: 430px) {
          display: none;
        }
      }
    }

    &:hover .logo-text{
      transform: translate(2px, 0px);
    }

    &:hover img {
      transform: scale(1.1);
    }
  }

  .cart-section {
    display: flex;
    align-items: center;
    .theme-switch {
      background-color: $third-color;
      border-radius: 25px;
      padding: 4px 6px;
      margin-right: 5px;
      cursor: pointer;
      transition: 0.3s;
      img {
        position: relative;
        margin: 0;
        padding: 0;
        top: 1px;
        width: 25px;
        height: 25px;
        @media (max-width: 480px) {
          width: 18px;
          height: 18px;
        }
      }
      &:hover {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        transform: scale(1.05);
      }
    }
    .theme-switch-dark {
      background-color: $grey-dark;
      border-radius: 25px;
      padding: 4px 6px;
      margin-right: 5px;
      cursor: pointer;
      transition: 0.3s;
      img {
        position: relative;
        margin: 0;
        padding: 0;
        top: 1px;
        width: 25px;
        height: 25px;
        @media (max-width: 480px) {
          width: 18px;
          height: 18px;
        }
      }
      &:hover {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        transform: scale(1.05);
      }
    }

    .cart-button {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin: 15px 15px 15px 5px;
      cursor: pointer;
      p {
        color: $maincolor;
        font-size: 18px;
        font-family: 'Roboto';
        margin: 0;
        @media (max-width: 1295px) {
          font-size: 16px;
        }
        @media (max-width: 1170px) {
          font-size: 18px;
        }
        @media (max-width: 640px) {
          font-size: 16px;
        }
      }
  
      .cart-button-icon {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: $maincolor;
        border-radius: 30px;
        padding: 8px 14px;
        margin-left: 10px;
        transition: 0.3s;
        @media (max-width: 480px) {
          padding: 4px 7px;
        }
        &:hover {
          transform: scale(1.07);
        }
        img {
          width: 20px;
          margin-right: 8px;
          @media (max-width: 480px) {
            width: 16px;
          }
        }
        p {
          color: $background;
          font-size: 18px;
          @media (max-width: 480px) {
            font-size: 14px;
          }
        }
      }
    }
  }
}

.main-section {
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 20px;
  .dark {
    color: white;
  }
  .menu {
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    @media (max-width: 730px) {
      flex-direction: column;
    }
    .navigation {
      @media (max-width: 730px) {
        margin-bottom: 15px;
      }
      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        @media (max-width: 430px) {
          flex-wrap: wrap;
          justify-content: space-around;
          li {
            margin-bottom: 5px;
          }
        }
        li {
          background-color: $maincolor;
          cursor: pointer;
          color: $background;
          font-size: 16px;
          border-radius: 15px;
          padding: 4px 10px;
          margin-right: 5px;
          transition: 0.3s;
          @media (max-width: 530px) {
            font-size: 13px;
          }
          &:hover {
            transform: scale(1.05);
          }
          a {
            color: white;
            font-family: 'Roboto';
          }
          
        }
      }
    }

    .sorting {
      position: relative;
      .sorting-button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: right;
        user-select: none;
        cursor: pointer;
        transition: 0.5s ease;
        img {
          width: 15px;
          height: 15px;
          margin-right: 5px;
          margin-bottom: 2px;
        }
        p {
          text-decoration: underline dotted $maincolor;
          margin-bottom: 3px;
          font-family: 'Roboto';
          font-size: 16px;
        }
        .dark {
          color: white;
        }
      }

      .sorting-list {
        animation: slide-down 0.25s both;
        position: absolute;
        overflow: hidden;
        right: 0px;
        background-color: $background;
        border-radius: 10px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        ul {
          overflow: hidden;
          li {
            user-select: none;
            font-size: 15px;
            font-family: 'Roboto';
            padding: 2px 5px;
            cursor: pointer;
            &:hover {
              background-color: rgba(46, 161, 23, 0.5);
              color: white;
            }
          }
        }
        .chosen {
          background-color: $maincolor;
          color: white;
        }
      }
      .sorting-list-dark {
        animation: slide-down 0.25s both;
        position: absolute;
        overflow: hidden;
        right: 0px;
        background-color: $background-dark;
        border-radius: 10px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        color: white;
        ul {
          overflow: hidden;
          li {
            user-select: none;
            font-size: 15px;
            font-family: 'Roboto';
            padding: 2px 5px;
            cursor: pointer;
            &:hover {
              background-color: rgba(46, 161, 23, 0.5);
              color: white;
            }
          }
        }
        .chosen {
          background-color: $maincolor;
          color: white;
        }
      }
    }
  }

  h2 {
    margin-bottom: 20px;
    margin-left: 1.5%;
  }

  .food-section {
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .food-item {
      @media (max-width: 890px) {
        width: 45%;
        margin-left: 2.5%;
        margin-right: 2.5%;
      }
      @media (max-width: 610px) {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
      }
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      width: 30%;
      box-shadow: 0 5px 7px rgba(0, 0, 0, 0.3);
      border-radius: 15px;
      margin-left: 1.5%;
      margin-right: 1.5%;
      margin-bottom: 3%;
      padding: 10px;
      background-color: $grey;
      transition: 0.5s;
      &:hover {
        transform: scale(1.02);
        box-shadow: 0 0 10px rgba(0, 0, 0, 1);
      }
      .food-item-frontside, .food-item-backside {
        border-radius: 15px;
        margin-bottom: 10px;
        cursor: pointer;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        transition: 0.6s ease;
      }
      .food-item-frontside {
        transform: perspective(600px) rotateY(0deg);
        img {
          min-width: 1px;
        }
        .flipped {
          transform: perspective(600px) rotateY(-180deg);
        }
      }
      .food-item-backside {
        position: absolute;
        background-color: $third-color;
        padding: 10px 10px 10px 20px;
        aspect-ratio: 1;
        width: calc(100% - 20px);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        li {
          font-size: 13px;
          list-style: square;
        }
        .flipped {
          transform: perspective(600px) rotateY(0deg);
        }

        transform: perspective(600px) rotateY(180deg);
      }
      .food-item-frontside-flipped {
        border-radius: 15px;
        margin-bottom: 10px;
        cursor: pointer;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        transition: 0.6s ease;
        transform: perspective(600px) rotateY(-180deg);
      }
      .food-item-backside-flipped {
        border-radius: 15px;
        margin-bottom: 10px;
        cursor: pointer;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        transition: 0.6s ease;
        position: absolute;
        background-color: $third-color;
        padding: 10px 10px 10px 20px;
        aspect-ratio: 1;
        width: calc(100% - 20px);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        li {
          font-size: 13px;
          list-style: square;
        }

        transform: perspective(600px) rotateY(0deg);
      }
      h4 {
        cursor: pointer;
      }
      
      .food-item-options {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 5px 0px;
        button {
          display: flex;
          justify-content: center;
          background-color: $background;
          color: rgb(0, 0, 0);
          border-radius: 20px;
          padding: 4px 7px;
          font-size: 16px;
          font-family: 'Roboto';
          cursor: pointer;
          margin: 0px 3px;
          flex: 1;
          transition: 0.2s;
          user-select: none;
          &:hover {
            background-color: rgba(46, 161, 23, 0.5);
            color: white
          }
        }
        .chosen {
          background-color: $maincolor;
          color: white;
        }
      }
      .food-item-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        cursor: default;
        button, p {
          font-size: 18px;
          font-family: 'Roboto';
          user-select: none;
        }
        .food-item-buy-button {
          background-color: $maincolor;
          color: white;
          font-size: 18px;
          border-radius: 20px;
          padding: 5px 14px;
          cursor: pointer;
          transition: 0.2s;
          p {
            font-family: 'Roboto';
          }
          &:hover {
            transform: scale(1.06);
          }
        }
      }
    }
    .food-item-dark {
      @media (max-width: 890px) {
        width: 45%;
        margin-left: 2.5%;
        margin-right: 2.5%;
      }
      @media (max-width: 610px) {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
      }
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      width: 30%;
      box-shadow: 0 5px 7px rgba(0, 0, 0, 0.3);
      border-radius: 15px;
      margin-left: 1.5%;
      margin-right: 1.5%;
      margin-bottom: 3%;
      padding: 10px;
      background-color: $grey-dark;
      transition: 0.5s;
      &:hover {
        transform: scale(1.02);
        box-shadow: 0 0 10px rgba(0, 0, 0, 1);
      }
      .food-item-frontside, .food-item-backside {
        border-radius: 15px;
        margin-bottom: 10px;
        cursor: pointer;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        transition: 0.6s ease;
      }
      .food-item-frontside {
        transform: perspective(600px) rotateY(0deg);
        img {
          min-width: 1px;
        }
        .flipped {
          transform: perspective(600px) rotateY(-180deg);
        }
      }
      .food-item-backside {
        position: absolute;
        background-color: $background-dark;
        padding: 10px 10px 10px 20px;
        aspect-ratio: 1;
        width: calc(100% - 20px);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        li {
          font-size: 13px;
          list-style: square;
        }
        .flipped {
          transform: perspective(600px) rotateY(0deg);
        }

        transform: perspective(600px) rotateY(180deg);
      }
      .food-item-frontside-flipped {
        border-radius: 15px;
        margin-bottom: 10px;
        cursor: pointer;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        transition: 0.6s ease;
        transform: perspective(600px) rotateY(-180deg);
      }
      .food-item-backside-flipped {
        border-radius: 15px;
        margin-bottom: 10px;
        cursor: pointer;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        transition: 0.5s ease;
        position: absolute;
        background-color: $background-dark;
        color: white;
        padding: 10px 10px 10px 20px;
        aspect-ratio: 1;
        width: calc(100% - 20px);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        li {
          font-size: 13px;
          list-style: square;
        }

        transform: perspective(600px) rotateY(0deg);
      }
      h4 {
        cursor: pointer;
        color: white;
      }
      
      .food-item-options {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 5px 0px;
        button {
          display: flex;
          justify-content: center;
          transition: 0.5s ease;
          background-color: $background-dark;
          color: white;
          border-radius: 20px;
          padding: 4px 7px;
          font-size: 16px;
          font-family: 'Roboto';
          cursor: pointer;
          margin: 0px 3px;
          flex: 1;
          user-select: none;
          &:hover {
            background-color: rgba(46, 161, 23, 0.5);
            color: white
          }
        }
        .chosen {
          background-color: $maincolor;
          color: white;
        }
      }
      .food-item-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        cursor: default;
        button, p {
          font-size: 18px;
          font-family: 'Roboto';
          user-select: none;
          transition: 0.5s ease;
        }
        p {
          color: white;
        }
        .food-item-buy-button {
          background-color: $maincolor;
          color: white;
          font-size: 18px;
          border-radius: 20px;
          padding: 5px 14px;
          cursor: pointer;
          transition: 0.2s;
          p {
            font-family: 'Roboto';
          }
          &:hover {
            transform: scale(1.06);
          }
        }
      }
    }
  }
}

.bottombar {
  margin: 30px 20px;
  padding-bottom: 10px;
  transition: 0.5s ease;
  .dark {
    color: white;
  }
}

.arrow_icon {
  font-size: 3rem;
  position: fixed;
  left: 15px;
  bottom: 15px;

  a {
    transition: 0.3s;
    &:link {
      color: rgba(46, 161, 23, 1);
    }
    &:visited {
      color: rgba(46, 161, 23, 1);
    }
    &:hover {
      color: rgba(46, 161, 23, 0.6);
    }
    &:active {
      color: rgba(46, 161, 23, 0.4);
    }
  }
}

.cart-overlay-shell {

  .cart-overlay-shadow {
    animation: fade-in 0.5s both;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    transition: 0.5s;
    z-index: 1;
  }

  .cart-overlay {
    animation: slide-in-blurred-right 0.2s both;
    position: fixed;
    width: 380px;
    height: 840px;
    top: 30px;
    right: 30px;
    border-radius: 15px;
    background-color: $secondary-color;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.1);
    padding: 10px;
    transition: 0.5s;
    z-index: 2;
    display: flex;
    flex-direction: column;
    .cart-title-row {
      display: flex;
      align-items: center;
      h3 {
        color: $maincolor;
      }
    }
  
    .cart-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      .btn-back {
        background: 0;
        border: 0;
        cursor: pointer;
        padding: 0;
        width: 44px;
        height: 44px;
        transition: 0.2s;
  
        &:hover {
          transform: scale(1.15);
        }
      }
    }
  
    .btn-clear-cart {
      cursor: pointer;
      transition: 0.2s;
      border: 0;
      width: 32px;
      height: 32px;
      margin-left: 6px;
      &:hover {
        transform: scale(1.1);
      }
    }
  
    .empty-cart-message {
      background: $background;
      border-radius: 15px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-top: 50%;
      padding: 15px;
      margin: 70% 30px 0 30px;
      user-select: none;
      h1 {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        width: 100%;
      }
  
      .centered-block {
        display: flex;
        justify-content: center;
        margin: 10px 0px;
      }
  
      b {
        width: 80%;
        text-align: center;
      }
  
      p {
        display: flex;
        justify-content: center;
        font-family: 'Roboto';
        border-radius: 15px;
        border: 0;
        padding: 4px 10px;
        color: white;
        background: $maincolor;
      }
    }
  
    .cart-content {
      display: flex;
      flex: 1;
      flex-direction: column;
      overflow: auto;
      scrollbar-width: none;
  
      .cart-item {
        background: $background;
        border-radius: 15px;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        margin: 5px 2px 10px 2px;
        transition: 0.2s;
        &:hover {
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          background-color: $third-color;
        }
  
        .cart-item-img {
            height: 100px;
            width: 100px;
            border-radius: 10px;
            margin-right: 10px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        }

        .cart-item-info {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 100%;
          .cart-item-upper-side{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .cart-item-title-block {
              font-family: 'Roboto';
              h4 {
                font-family: 'Roboto';
                margin: 0 0 3px 0;
              }
      
              p {
                font-family: 'Roboto';
              }
            }

            .cart-btn-delete {
              display: flex;
              justify-content: flex-end;
              background: 0;
              border: 0;
              cursor: pointer;
              transition: 0.5s;
              img {
                width: 32px;
                height: 32px;
              }
              &:hover {
                transform: scale(1.1);
              }
            }
          }

          .cart-item-lower-side {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            b {
              color: black;
              margin: 0;
              font-family: 'Roboto';
              font-size: 18px;
            }

            .amount-options {
              display: flex;
              align-items: center;
              justify-content: space-between;
              width: 85px;
              p {
                color: $maincolor;
                font-family: 'Roboto';
              }
              img {
                cursor: pointer;
                transition: 0.2s;
                &:hover {
                  transform: scale(1.1);
                }
              }
            }
          }
        }
      }
    }
  
    .cart-bottom {
      display: flex;
      flex-direction: column;
      //box-shadow: 0px -8px 10px 10px white;
      margin-top: 10px;
      b{
        margin: 0;
      }
  
      .dashline {
        border: 1px dashed rgba(0, 0, 0, 0.4);
        height: 1px;
        flex: 1;
        position: relative;
        top: 13px;
        margin: 0 7px;
      }
  
      .cart-total {
        display: flex;
        justify-content: space-between;
        margin: 10px 10px 7px 10px;
      }
  
      .cart-btn-order {
        cursor: pointer;
        margin: 10px 10px 0px 10px;
        background: $maincolor;
        border: 0;
        border-radius: 10px;
        transition: 0.2s;
        padding: 8px 0px;
        h2 {
          color: white;
        }
        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
  .cart-overlay-dark {
    animation: slide-in-blurred-right 0.2s both;
    position: fixed;
    width: 380px;
    height: 840px;
    top: 30px;
    right: 30px;
    border-radius: 15px;
    background-color: $secondary-color-dark;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.1);
    padding: 10px;
    transition: 0.5s ease;
    z-index: 2;
    display: flex;
    flex-direction: column;
    .cart-title-row {
      display: flex;
      align-items: center;
      h3 {
        color: $maincolor;
      }
    }
  
    .cart-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: white;
      .btn-back {
        background: 0;
        border: 0;
        cursor: pointer;
        padding: 0;
        width: 44px;
        height: 44px;
        transition: 0.2s;
  
        &:hover {
          transform: scale(1.15);
        }
      }
    }
  
    .btn-clear-cart {
      cursor: pointer;
      transition: 0.2s;
      border: 0;
      width: 32px;
      height: 32px;
      margin-left: 6px;
      &:hover {
        transform: scale(1.1);
      }
    }
  
    .empty-cart-message {
      background: $background-dark;
      color: white;
      border-radius: 15px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-top: 50%;
      padding: 15px;
      margin: 70% 30px 0 30px;
      user-select: none;
      h1 {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        width: 100%;
      }
  
      .centered-block {
        display: flex;
        justify-content: center;
        margin: 10px 0px;
      }
  
      b {
        width: 80%;
        text-align: center;
      }
  
      p {
        display: flex;
        justify-content: center;
        font-family: 'Roboto';
        border-radius: 15px;
        border: 0;
        padding: 4px 10px;
        color: white;
        background: $maincolor;
      }
    }
  
    .cart-content {
      display: flex;
      flex: 1;
      flex-direction: column;
      overflow: auto;
      scrollbar-width: none;
  
      .cart-item {
        background: $background-dark;
        border-radius: 15px;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        margin: 5px 2px 10px 2px;
        transition: 0.2s;
        &:hover {
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          background-color: $grey-dark;
        }
  
        .cart-item-img {
            height: 100px;
            width: 100px;
            border-radius: 10px;
            margin-right: 10px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        }

        .cart-item-info {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 100%;
          color: white;
          .cart-item-upper-side{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .cart-item-title-block {
              font-family: 'Roboto';
              h4 {
                font-family: 'Roboto';
                margin: 0 0 3px 0;
              }
      
              p {
                font-family: 'Roboto';
              }
            }

            .cart-btn-delete {
              display: flex;
              justify-content: flex-end;
              background: 0;
              border: 0;
              cursor: pointer;
              transition: 0.5s;
              img {
                width: 32px;
                height: 32px;
              }
              &:hover {
                transform: scale(1.1);
              }
            }
          }

          .cart-item-lower-side {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            b {
              color: white;
              margin: 0;
              font-family: 'Roboto';
              font-size: 18px;
            }

            .amount-options {
              display: flex;
              align-items: center;
              justify-content: space-between;
              width: 85px;
              p {
                color: $maincolor;
                font-family: 'Roboto';
              }
              img {
                cursor: pointer;
                transition: 0.2s;
                &:hover {
                  transform: scale(1.1);
                }
              }
            }
          }
        }
      }
    }
  
    .cart-bottom {
      display: flex;
      flex-direction: column;
      color: white;
      margin-top: 10px;
      b{
        margin: 0;
      }
  
      .dashline {
        border: 1px dashed rgba(255, 255, 255, 0.4);
        height: 1px;
        flex: 1;
        position: relative;
        top: 13px;
        margin: 0 7px;
      }
  
      .cart-total {
        display: flex;
        justify-content: space-between;
        margin: 10px 10px 7px 10px;
      }
  
      .cart-btn-order {
        cursor: pointer;
        margin: 10px 10px 0px 10px;
        background: $maincolor;
        border: 0;
        border-radius: 10px;
        transition: 0.2s;
        padding: 8px 0px;
        h2 {
          color: white;
        }
        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
}

.orders-overlay-shell {

  .orders-overlay-shadow {
    animation: fade-in 0.5s both;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    transition: 0.5s;
    z-index: 1;
  }

  .orders-overlay {
    animation: slide-in-blurred-left 0.2s both;
    position: fixed;
    width: 380px;
    height: 840px;
    top: 30px;
    left: 30px;
    border-radius: 15px;
    background-color: $secondary-color;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.1);
    padding: 10px;
    transition: 0.5s;
    z-index: 2;
    display: flex;
    flex-direction: column;
    .orders-title-row {
      display: flex;
      align-items: center;
      h3 {
        color: $maincolor;
      }
    }
  
    .orders-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 10px;
      .btn-back {
        background: 0;
        border: 0;
        cursor: pointer;
        padding: 0;
        width: 44px;
        height: 44px;
        transition: 0.2s;
  
        &:hover {
          transform: scale(1.15);
        }
      }
    }
  
    .empty-orders-message {
      background: $background;
      border-radius: 15px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-top: 50%;
      padding: 15px;
      margin: 70% 30px 0 30px;
      user-select: none;
      h1 {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        width: 100%;
      }
  
      .centered-block {
        display: flex;
        justify-content: center;
        margin: 10px 0px;
      }
  
      b {
        width: 80%;
        text-align: center;
      }
    }
  
    .orders-content {
      display: flex;
      flex: 1;
      flex-direction: column;
      overflow: auto;
      scrollbar-width: none;
  
      .orders-item {
        background: $background;
        border-radius: 15px;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        margin: 5px 2px 10px 2px;
        transition: 0.2s;
        cursor: pointer;
        &:hover {
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          background-color: $third-color;
        }

        .orders-item-info {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 100%;
          cursor: pointer;
          font-size: 14px;
          h4 {
            margin-top: 5px;
          }
          p {
            font-family: 'Roboto';
          }
          .hidden {
            p {
              display: none;
            }
            h4 {
              margin: 0;
            }
          }
        }
      }
    }
  }

  .orders-overlay-dark {
    animation: slide-in-blurred-left 0.2s both;
    position: fixed;
    width: 380px;
    height: 840px;
    top: 30px;
    left: 30px;
    border-radius: 15px;
    background-color: $secondary-color-dark;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.1);
    padding: 10px;
    transition: 0.5s ease;
    z-index: 2;
    display: flex;
    flex-direction: column;
    .orders-title-row {
      display: flex;
      align-items: center;
      h3 {
        color: $maincolor;
      }
    }
  
    .orders-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: white;
      padding-left: 10px;
      .btn-back {
        background: 0;
        border: 0;
        cursor: pointer;
        padding: 0;
        width: 44px;
        height: 44px;
        transition: 0.2s;
  
        &:hover {
          transform: scale(1.15);
        }
      }
    }
  
    .empty-orders-message {
      background: $background-dark;
      color: white;
      border-radius: 15px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-top: 50%;
      padding: 15px;
      margin: 70% 30px 0 30px;
      user-select: none;
      h1 {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        width: 100%;
      }
  
      .centered-block {
        display: flex;
        justify-content: center;
        margin: 10px 0px;
      }
  
      b {
        width: 80%;
        text-align: center;
      }
    }
  
    .orders-content {
      display: flex;
      flex: 1;
      flex-direction: column;
      overflow: auto;
      scrollbar-width: none;
  
      .orders-item {
        background: $background-dark;
        border-radius: 15px;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        margin: 5px 2px 10px 2px;
        transition: 0.2s;
        cursor: pointer;
        &:hover {
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          background-color: $grey-dark;
        }

        .orders-item-info {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 100%;
          color: white;
          font-size: 14px;
          h4 {
            margin-top: 5px;
          }
          p {
            font-family: 'Roboto';
          }
          .hidden {
            p {
              display: none;
            }
            h4 {
              margin: 0;
            }
          }
        }
      }
    }
  }
}
